<div id="<%= dom_id user %>">
  <p style="margin-top: 60px;">
    <%= user.nickname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= "#{user.last_name} #{user.first_name}" %>
  </p>

  <p>
    <strong>Bio:</strong>
    <p>
      <%= user.bio %>
    </p>
  </p>

</div>
