<div id="<%= dom_id post %>">
  <p>
    <%= link_to "#{post.user.nickname}", post.user %>
  </p>

  <p>    
    <%= post.text %>
  </p>

  <% if post.photo %>
    <p>
      <strong>Photo:</strong>      
        <%= image_tag post.photo_url(:thumb) %>      
    </p>
  <% end %>
</div>
